<nav class="navbar navbar-light bg-faded">
  <div class="container">
  <a class="navbar-brand" href="/">FaceFactory</a>
  <ul class="nav navbar-nav pull-xs-right">
    <li class="nav-item active">
    </li>

    <% if user_signed_in? %>  
      <% if current_user.profile %>
      <li class="nav-item <%= 'active' if current_page?(profile_path(current_user.profile)) %>">
        <% link_to 'My profile',
        profile_path(current_user.profile), class: 'nav-link' %>
      </li>
        <% end %>

    <li class="nav-item"><%= link_to 'Sign out',
    destroy_user_session_path, method: :delete, class:
    'nav-link' %></li>
    <% end %>
  </ul>

</div>
</nav>